<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Beleaf - Listagem de Marmitas</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" href="/img/favicon.webp" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/jquery.mask.js"></script>
    <script src="js/mask.js"></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="css/beleaf.css"/>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
        <img src="https://www.beleaf.com.br/arquivos/logo-rodape.png"  height="40" alt="">
        </a>
        <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Alterna navegação"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/marmitas">Marmitas</a>
                </li>
                <% if(autorizado == true) {%>
                    <li class="nav-item">
                        <a class="nav-link" href="/marmita/novo">Cadastrar Marmita</a>
                    </li>
                <% } %>
                <% if(autorizado != true) {%>
                <li>
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <% } %>
                <% if(autorizado == true) {%>
                    <li class="nav-item">
                        <a class="nav-link" href="/sair"><%= usuario %> clique para sair</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
    <div class="container mt-3 pt-3">
        <div class="card card-custom">
            <p class="h2 text-center mt-3 pt-3">Marmitas</p>
            <hr>
            <nav class="nav">
                <a class="nav-link" href="/marmitas?ordem=nome" data-toggle="tooltip" data-placement="top" title="Ordenar por nome">Nome</a>
                <a class="nav-link" href="/marmitas?ordem=preco" data-toggle="tooltip" data-placement="top" title="ordenar por preço">Preço</a>
                <a class="nav-link" href="/marmitas?ordem=preco_desconto" data-toggle="tooltip" data-placement="top" title="Ordenar por preço com desconto">Preço com Desconto</a>
            </nav>
            <hr>
            <div class="card-body">
                <div class="list-group">
                    <% if (marmitas){
                        for(var i=0; i < marmitas.length; i++) { %>
                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="container">
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <a href="/marmita?id=<%= marmitas[i].id %>">
                                            <img src="<%= marmitas[i].url_imagem %>" alt="..." class="img-thumbnail">
                                            <h4 class="mb-1 text-center" style="font-size:1.5vw"><%= marmitas[i].nome %></h4>
                                        </a>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="h4" for="preco" style="font-size:2vw">Preço</label>
                                        <input class="form-control dinheiro" value="<%= marmitas[i].preco.toFixed(2) %>" disabled>
                                        <br>
                                        <label class="h4" for="preco_desconto" style="font-size:2vw">Preço com desconto</label>
                                        <input class="form-control dinheiro" value="<%= marmitas[i].preco_desconto.toFixed(2) %>" disabled>
                                    </div>
                                    <% if(autorizado == true) {%>
                                        <div class="form-group col-md-3">
                                            <a href="/marmita/editar?id=<%= marmitas[i].id %>" class="btn btn-outline-warning" data-toggle="tooltip" data-placement="top" title="Editar Marmita"><img src="/img/edit_3.png"></a>
                                            <a href="/marmita/excluir?id=<%= marmitas[i].id %>" class="btn btn-outline-warning" data-toggle="tooltip" data-placement="top" title="Excluir Marmita"><img src="/img/delete.png"></a>
                                        </div>
                                    <%}%>
                                </div>
                            </div>
                        </div>
                    <% }
                    }%>
                </div>
            </div>
        </div>
    </div>

</body>
</html>